*{
    margin: 0%;
    padding: 0%;
    text-align: center;
}

h1{
    background-color: rgb(24, 24, 62);
    color: white;
    height: 3rem;
    line-height: 3rem;
}

.choice:hover{
    background-color: black;
    cursor: pointer;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 3rem;
    gap: 5rem;
}

#user, #computer{
    font-size: 3rem;
}

#message{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 2rem;
}